$white: #FFF;
$backgroundColor: rgba(231, 236, 237, 0.5);

$moviikGreen: #17E58F;
$ratingColor: rgba(242, 176, 30, 0.8);

$cardShadowColor: rgba(0, 0, 0, 0.2);

$quoteTextColor: #414a4c;
$authorTextColor: #232b2b;