<div class="card">
    <div class="card--body">
        <blockquote>
            <em>
                "{{ quote.en }}"
            </em>
        </blockquote>
    </div>
    <div class="card--footer">
        <!-- <div>
            {{ quote.rating }}
        </div> -->

        <div class="card--footer-rating">
            <label>&#10084;</label>
            <label>&#10084;</label>
            <label>&#10084;</label>
            <label>&#10084;</label>
            <label>&#10084;</label>
        </div>

        <div class="card--footer-author">
            {{ quote.author }}
        </div>
    </div>
</div>