.card {
  display: flex;
  flex-direction: column;

  border-radius: 6px;

  background-color: #fff;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.2);

  &--body {
    color: #414a4c;
    font-size: 1.2em;
    font-family: Abel, Arial, Verdana, sans-serif;

    blockquote {
      padding: 5px 15px;
      border-left: 3px solid #17e58f;
    }
  }

  &--footer {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    align-items: center;

    padding: 16px 20px 16px 0;

    &-author {
      color: #232b2b;
      font-family: "Oswald", sans-serif;
    }
  }
}
