<!-- Header with title and list navigation -->
<div class="card-list-header">
    <h1>
        {{ titleText }}
    </h1>
    <nav *ngIf="!serviceErrors">
        <button (click)="previousPage()" *ngIf="currentPage > 1" title="{{ previousPageText }}">
            <i class="arrow left"></i>
        </button>
        <button (click)="nextPage()" title="{{ nextPageText }}">
            <i class="arrow right"></i>
        </button>
    </nav>
</div>

<!-- Cards list wrapper + cards -->
<div class="card-list-wrapper" *ngIf="!serviceErrors">
    <moviik-card *ngFor="let quote of quotes" [quote]="quote"></moviik-card>
</div>

<!-- Container of logs if API is unavailable -->
<ng-container *ngIf="serviceErrors">
    <div class="card-list-error-container" title="{{ serviceErrors }}">
        {{ errorText }}
    </div>
</ng-container>